<!-- templates/display_notes.html-->

{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        {% csrf_token %}
        <form method="get" action="{% url 'notes:display_notes' %}">
            {% for item in user_notes %}
                <div class="note">
                    <div class="note-title">
                        {{ item.title }}
                    </div>
                    <div class="note-content">
                        {{ item.note }}
                        <form method="get" action="{% url 'notes:display_notes' %}">
                            <div class="button-wrapper">
                            <square-button type="submit" class="btn btn-success">
                                Edit
                            </square-button>
                        </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </form>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login </a>
    {% endif %}
{% endblock %}
